.wrap{
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.square{
  flex: 1 0 calc(25% - 10px);
  margin: 5px;
  background: transparent;
  color: #F3BC2B;
}

.square:after{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.about-graph {
  padding: 10%;
  max-height: 300px;
  color: #8CBD3D;
  font-size: 35px;
  text-shadow: 0 0 15px lightgrey;
  margin-top: 60px;
}

@media screen and (max-width: 1000px) {
  .about-graph {
    font-size: 20px;
  }
}

.about-calendar {
  padding: 8%;
  color: #8CBD3D;
  font-size: 35px;
  text-shadow: 0 0 15px lightgrey;
  margin-top: 60px;
}

.about {
  padding: 20px;
}

.about-header {
 color: #F3BC2B;
 text-shadow: 0 0 10px lightgrey;
}

.about-intro {
  padding: 2%;
  color: #8CBD3D;
  text-shadow: 0 0 10px lightgrey;
}

.about-map {
  padding: 3%;
  color: #8CBD3D;
  font-size: 35px;
  text-shadow: 0 0 15px lightgrey;
  margin-top: 60px;
}
