.wrap{
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.square{
  flex: 1 0 calc(25% - 10px);
  margin: 5px;
  background: transparent;
  color: #F3BC2B;
}

.square:after{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.about-graph {
  margin-top: 100px;
  color: #8CBD3D;
  text-shadow: 0 0 15px lightgrey;
}

.about-calendar {
  margin-top: 140px;
  color: #8CBD3D;
  text-shadow: 0 0 15px lightgrey;
}

.about {
  padding: 20px;
}

.about-header {
 color: #F3BC2B;
 text-shadow: 0 0 10px lightgrey;
}

.about-intro {
  color: #8CBD3D;
  text-shadow: 0 0 10px lightgrey;
}

.about-map {
  padding-top: 160px;
  color: #8CBD3D;
  text-shadow: 0 0 15px lightgrey;
}
