.month-text-last {
  display: inline-block;
  align: center;
  padding-top: 45%;
}

.month_form {
  display: inline-block;
  text-align: center;
  height: 5%;
  width: 40%;
  border: 2px gold;
}

.month-title {
  text-align: left;
}

.Grid {
  // display: inline-flex;
  flex-wrap: wrap;

  &-item {
    width: 100%;
    height:250px;
    background: firebrick;
    margin: 2%;
    float: left;

    @media (min-width: 68rem) {
      width: 20.5%;
      &:nth-child(even) {
        background-image: grey;
        margin-right: 2%;
      }
    }

    @media (min-width: 43rem) {
      width: 20.5%;
      &:not(:nth-child(4n)) {
        background: #8CBD3D;
        margin-right: 2%;
      }
    }

    &:before {
      content: "";
      float: left;
      padding-top: 100%;
    }
  }
}

.edit {
  margin-top: 200px;
}
