.month-text-last {
  display: inline-block;
  align: center;
  padding-top: 45%;
}

.month_form {
  display: inline-block;
  text-align: center;
  height: 5%;
  width: 40%;
}

.month-title {
  padding: 20px;
  text-align: left;
  font-size: 40px;
  color: #F3BC2B;
  text-shadow: 0 0 1px black;
}

@media screen and (max-width: 892px) {
  .month-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .month-title {
    font-size: 20px;
  }
}

.month-text {
  color: white;
  text-align: center;
  text-shadow: 0 0 20px black;
  font-size: 23px;
  font-family: Varela Round, sans-serif;
  padding-bottom: 65%;
}

.edit {
  margin-top: 200px;
}

.calendar {
  padding: 70px;
  margin: 2%;
  background-image: url(https://cdn2.iconfinder.com/data/icons/red-gray/520/Calendar-512.png);
  background-size: 220px;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  width: 290px;
  height: auto;
}
