.trans-form {
  display: inline-block;
  text-align: center;
  height: 5%;
  width: 30%;
}

.lineitem {
  margin-left: 5%;
  margin-right: 3%;
  list-style: none;
  display: inline-flex;
  ;}

.delete-button {
  background: transparent;
  height: 20px;
  width: 80px;
  font-size: 10px;
  margin-left: 10px;
  margin-top: 5px;
  padding: 5px;
}

.left-box {
  text-align: left;
  display: block;
  width: 30%;
  float: left;
  margin: 40px;
}

.chart {
  display: inline-block;
  background-color: transparent;
}

.zerobased {
  float: right;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aaa;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border: 2px #ccc solid;
  color: #fff;
}

a {
  color: #8CBD3D;
}

#new_user {
  margin-left: 3%;
}

.signup-button {
  color: white;
}
