.trans-form {
  display: inline-block;
  text-align: center;
  height: 5%;
  width: 30%;
}

.lineitem {
  margin-left: 5%;
  margin-right: 3%;
  list-style: none;
  display: inline-flex;
  ;}

.delete-button {
  background: transparent;
  height: 20px;
  width: 80px;
  font-size: 10px;
  margin-left: 10px;
  margin-top: 5px;
  padding: 5px;
}

.left-box {
  text-align: left;
  display: block;
  width: 30%;
  // margin: auto;
}

.chart {
  display: inline-block;
  background-color: transparent;

}
